doctype html
html(lang="en")
  head
    title= "User Index"
  body
    h1 Pug
    each user in users
      div
        //- img(src=`/images/${user.username}_sm.jpg`, alt=`${user.username}`)
        a(href=`/${user.username}`)= user.name.full
